{% for service in customer.roles %}
<VirtualHost *:80>
    ServerAdmin {{ customer.vars.proxy.admin }}
    ServerName {{ service }}.{{ customer.vars.proxy.domain }}
    Redirect / https://{{ service }}.{{ customer.vars.proxy.domain }}
    ErrorLog /opt/{{ customer.name }}/data/logs/error.log
    CustomLog /opt/{{ customer.name }}/data/logs/access.log combined
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin {{ customer.vars.proxy.admin }}
    ServerName {{ service }}.{{ customer.vars.proxy.domain }}
    Redirect / {{ unfriendly_url }}
    ErrorLog /opt/{{ customer.name }}/data/logs/error.log
    CustomLog /opt/{{ customer.name }}/data/logs/access.log combined
</VirtualHost>
{% endfor %}
