---
# tasks file for jitsi
#
# TODO: see voltpop.com/blogs/jitsi/ for details.
# Fetch the new version from github
#   https://github.com/jitsi/docker-jitsi-meet/archive/refs/tags/stable-{{ jitsi_version }}.tar.gz -> opt/

# Ensure that the client directory exists

- name: Create Client
  become: true
  become_user: root
  ansible.builtin.file:
    path: "/opt/{{ customer.name }}"
    state: directory

#   unpack the tarfile in /opt
- name: "Fetch Jitsi Docker image"
  become: true
  ansible.builtin.unarchive:
    src: "https://github.com/jitsi/docker-jitsi-meet/archive/refs/tags/stable-{{ customer.vars.jitsi.version }}.tar.gz"
    dest: "/opt/{{ customer.name }}"
    remote_src: "yes"

- name: "Create Service directory"
  become: true
  ansible.builtin.file:
    src: "/opt/{{ customer.name }}/docker-jitsi-meet-stable-{{ customer.vars.jitsi.version }}"
    dest: "/opt/{{ customer.name }}/jitsi"
    state: "link"

# copy env.example .env
- name: "Deploy env file"
  become: true
  ansible.builtin.template:
    src: "env.example.j2"
    dest: "/opt/{{ customer.name }}/jitsi/.env"
  notify: Start Jitsi

# run gen-password.sh script in the root of the checkout
- name: "Set Passwords"
  become: true
  ansible.builtin.command: "/opt/{{ customer.name }}/jitsi/gen-passwords.sh"
# docker-compose up the damned thing.
#
# deploy apache redirect
#
# Restart apache
